{% extends "base.html" %}
{% load static %}
{% block title %}Blog - details{% endblock title %}

{% block body %}

<section id="blog-details">
    <div class="container">
        <div class="main">

            <div class="page-header">
                <a href="{% url 'blog_home' %}" class="go-back-link">&leftarrow; back</a>
                <h1 class="text-upper">Blog</h1>
            </div>

            <div class="blog-title padding-top-lg padding-bottom-md">
                <h1 class="center padding-bottom-md">Some title to go here</h1>
                <div class="post-meta center">

                    <span class="post-author"> <span><img src="{% static 'img/icons/person-add.svg' %}" alt="clock icon"
                                class="blog-icon"></span> By Egbie</span>
                    <span class="post-date"> <span><img src="{% static 'img/icons/clock.svg' %}" alt="clock icon"
                                class="blog-icon"></span> Nov 06, 2024</span>
                    <span class="post-date"> <span><img src="{% static 'img/icons/clock.svg' %}" alt="clock icon"
                                class="blog-icon"></span> 4 min read</span>
                    <span class="post-views"> <span><img src="{% static 'img/icons/people-outline.svg' %}"
                                alt="clock icon" class="blog-icon"></span> 100+ views</span>
                    <span class="post-bookmarks"> <span><img src="{% static 'img/icons/bookmark-save.svg' %}"
                                alt="clock icon" class="blog-icon"></span>Bookmark save</span>

                </div>
            </div>

            <div class="blog-main-image-container padding-top-lg">
                <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="Blog main image" class="blog-main-img">
            </div>

            <div class="blog-text padding-bottom-md">
                <p class="padding-bottom-md">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                    mollitia deleniti culpa accusamus. Dolorem voluptas totam fugiat dolorum officia animi iste
                    provident. Natus similique veniam voluptates possimus sed pariatur ratione.</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum culpa
                    incidunt velit, cum ipsum dolor, voluptate iure suscipit impedit eum eveniet totam natus odit
                    quisquam, nisi deleniti recusandae eaque accusantium.</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae minus sunt
                    veritatis quaerat? Accusantium minima mollitia magni molestiae eaque quisquam natus animi iusto
                    consectetur praesentium, quasi, quis similique doloremque.</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste
                    placeat eum distinctio nulla ratione eveniet incidunt dolorum ab! Iure rem voluptatum sunt est
                    vitae. Ipsam, sapiente! Facere, tenetur autem!</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste
                    placeat eum distinctio nulla ratione eveniet incidunt dolorum ab! Iure rem voluptatum sunt est
                    vitae. Ipsam, sapiente! Facere, tenetur autem!</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste
                    placeat eum distinctio nulla ratione eveniet incidunt dolorum ab! Iure rem voluptatum sunt est
                    vitae. Ipsam, sapiente! Facere, tenetur autem!</p>
                <p class="padding-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste
                    placeat eum distinctio nulla ratione eveniet incidunt dolorum ab! Iure rem voluptatum sunt est
                    vitae. Ipsam, sapiente! Facere, tenetur autem!</p>

            </div>

            <div class="blog-tags">
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
                <a href="#">
                    <div class="blog-tag">tag content here</div>
                </a>
            </div>

            <div class="blog-interactions padding-top-lg">

                <div class="user-actions triple-grid">
                    <a href="#" class="reactions num-of-likes blog-link" id="num-of-likes-link"><img
                            src="{% static '/img/icons/red-heart.svg' %}" alt="red heart icon" class="blog-icon"> 0
                        likes</a>
                    <a href="#" class="reactions thumbs-up blog-link"><img src="{% static '/img/icons/thumbs-up.svg' %}"
                            alt="thumb icon" class="blog-icon thumb-up-icon"> like</a>
                    <a href="#" class="reactions num-of-comments blog-link"><img
                            src="{% static '/img/icons/comments.svg' %}" alt="comment icon" class="blog-icon">10
                        Comments</a>
                </div>

                <div class=" user-actions user-reactions-choices">

                    <a href="#" class="reactions like" title="like"><img src="{% static '/img/icons/thumbs-up.svg' %}"
                            alt="like icon" class="reaction-icon like-icon" title="like" data-emoji="likeIcon"> </a>
                    <a href="#" class="reactions love" title="love"><img src="{% static '/img/icons/red-heart.svg' %}"
                            alt="red heart icon" class="reaction-icon love-icon" title="love" data-emoji="loveIcon"></a>
                    <a href="#" class="reactions insight" title="insight"><img
                            src="{% static '/img/icons/light-bulb.svg' %}" alt="like icon"
                            class="reaction-icon insight-icon" title="insight" data-emoji="insightIcon"></a>
                    <a href="#" class="reactions celebrate" title="celebrate"><img
                            src="{% static '/img/icons/clapping-hands-default.svg' %}" alt="comment icon"
                            class="reaction-icon celebrate-icon" title="celebrate" data-emoji="celebrateIcon"></a>
                    <a href="#" class="reactions funny" title="funny"><img
                            src="{% static '/img/icons/face-with-tears-of-joy.svg' %}" alt="comment icon"
                            class="reaction-icon funny-icon" title="funny" data-emoji="funnyIcon"></a>
                    <a href="#" class="reactions sparkles" title="funny"><img
                            src="{% static '/img/icons/sparkles.svg' %}" alt="comment icon"
                            class="reaction-icon sparkles-icon" title="sparkles" data-emoji="sparklesIcon"></a>
                    <a href="#" class="reactions hundred" title="funny"><img
                            src="{% static '/img/icons/hundred-points.svg' %}" alt="comment icon"
                            class="reaction-icon hundred-icon" title="100" data-emoji="hundredIcon"></a>

                </div>
                <div class="reaction-emoji-name" id="reaction-emoji-name">
                    <p class="text-capitalize"></p>
                </div>

            </div>

            <hr class="dividor">

            <!-- The comment section -->
            <div id="comments-section">
                <h1 class="padding-bottom-md padding-top-md">Comments</h1>

                <div class="author-comment">
                    <div class="card-author-img flex-row">

                        <img src="{% static '/img/display/jpg/person.png' %}" alt="author image" class="comment-icon">

                        <div class="author-img-attributes">
                            <p>Author name <span class="bold">OP</span> </p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <div class="comment-box">
                        <div class="open-icon-wrapper flex-end">
                            <a href="#" class="edit-link"><img src="../../static/img/icons/three-dots.svg" alt="open icon" 
                                class="blog-icon modify-icon" data-btn="edit-btn" data-action-box-id="action-1"></a>
                        </div>
                        <p class="comment" id="1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                            numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                            molestias quibusdam natus alias adipisci!
                        </p>
                    
                        <div class="action" id="action-1">
                            <a href="#" class="open-icon"><img src="../../static/img/icons/three-dots.svg" alt="open icon"></a>
                            <a href="#" id="edit-comment-1">Edit</a>
                            <a href="#" id="delete-comment-1">Delete</a>
                        </div>
    
                    </div>
                  
                   
                    <div class="reply-link-div">
                        <a class="light-bold text-capitalize padding-bottom-md reply-comment-link"
                            data-reply-box-id="reply-1">Reply</a>
                    </div>

                    <!-- The edit form -->
                    <div class="edit-form" id="edit-1">
                            <form action="" method="post" id="edit-form-1">
                                <textarea name="comment-form" id="edit-form-area" rows="10" cols="10"
                                    placeholder="Add a comment.."></textarea>
            
                                <div class="form-group triple-grid">
                                    <input type="text" name="name" id="edit-author-name" required placeholder="Name..">
                                    <input type="email" name="email" id="edit-email" required placeholder="Email...">
                                    <input type="text" name="website" id="edit-website" placeholder="Website optional..">
                                </div>
            
                                <div class="button flex-end">
                                    <button type="submit" class="text-capitalize button-sm comment-btn dark-green-bg">Edit POST</button>
                                </div>
                            </form>
                    </div>

                    <!-- link the comment id number with reply id (e.g comment id 1 is link with the reply id box = reply-1 for the js)-->
                    <div class="reply-form" id="reply-1">
                        <!-- generate dynamically -->
                    </div>
                </div>

                <div class="reply padding-top-md">

                    <div class="card-author-img reply-author">
                        <img src="{% static 'img/display/jpg/person-9.png' %}" alt="author image" class="comment-icon">


                        <div class="author-img-attributes">
                            <p>Author name</p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <p class="comment reply-comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                        numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                        molestias quibusdam natus alias adipisci!
                    </p>
                </div>

                <div class="reply padding-top-md">

                    <div class="card-author-img reply-author">
                        <img src="{% static 'img/display/jpg/person-9.png' %}" alt="author image" class="comment-icon">


                        <div class="author-img-attributes">
                            <p>Author name <span class="bold">OP</span> </p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <p class="comment reply-comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                        numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                        molestias quibusdam natus alias adipisci!
                    </p>
                </div>

                <div class="reply padding-top-md">

                    <div class="card-author-img reply-author">
                        <img src="{% static 'img/display/jpg/person-9.png' %}" alt="author image" class="comment-icon">


                        <div class="author-img-attributes">
                            <p>Author name</p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <p class="comment reply-comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                        numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                        molestias quibusdam natus alias adipisci!
                    </p>
                </div>

                <div class="author-comment">
                    <div class="card-author-img flex-row">

                        <img src="{% static '/img/display/jpg/person.png' %}" alt="author image" class="comment-icon">

                        <div class="author-img-attributes">
                            <p>Author name</p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <p class="comment" id="2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                        numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                        molestias quibusdam natus alias adipisci!
                    </p>

                    <div class="reply-link-div">
                        <a class="light-bold text-capitalize padding-bottom-md reply-comment-link"
                            data-reply-box-id="reply-2">Reply</a>
                    </div>

                    <!-- link the comment id number with reply id (e.g comment id 1 is link with the reply id box = reply-1 for the js)-->
                    <div class="reply-form" id="reply-2">
                        <!-- generate dynamically -->
                    </div>
                </div>

                <div class="author-comment">
                    <div class="card-author-img flex-row">

                        <img src="{% static '/img/display/jpg/person.png' %}" alt="author image" class="comment-icon">

                        <div class="author-img-attributes">
                            <p>Author name <span class="bold">OP</span> </p>
                            <p>Tue 5 November 2024</p>
                        </div>
                    </div>

                    <p class="comment" id="3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum suscipit nostrum
                        numquam est quos saepe dolorem inventore expedita, magni aperiam debitis cupiditate optio in
                        molestias quibusdam natus alias adipisci!
                    </p>

                    <div class="reply-link-div">
                        <a class="light-bold text-capitalize padding-bottom-md reply-comment-link"
                            data-reply-box-id="reply-3">Reply</a>
                    </div>

                    <!-- link the comment id number with reply id (e.g comment id 1 is link with the reply id box = reply-1 for the js)-->
                    <div class="reply-form" id="reply-3">
                        <!-- generate dynamically -->
                    </div>
                </div>



            </div>

            <hr class="dividor">
            <h3 class="text-capitalize light-bold">Leave a new comment to this post</h3>
            <p class="padding-bottom-md">Please note your email address won't be published</p>

            <div class="comment-form">
                <form action="" method="post" id="comment-form">
                    <textarea name="comment-form" id="comment-form-area" rows="10" cols="10"
                        placeholder="Add a comment.."></textarea>

                    <div class="form-group triple-grid">
                        <input type="text" name="name" id="author-name" required placeholder="Name..">
                        <input type="email" name="email" id="email" required placeholder="Email...">
                        <input type="text" name="website" id="website" placeholder="Website optional..">
                    </div>

                    <div class="button flex-end">
                        <button type="submit" class="text-capitalize button-sm comment-btn dark-green-bg">Post
                            Comment</button>
                    </div>
                </form>
            </div>



        </div>

        <!-- The side bar -->
        <div class="sidebar">


            <div class="most-recent">
                <h2 class="center">Most Recent</h2>


                <div class="recent-post">
                    <div class="recent-post-container">
                        <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="recent image pic"
                            class="recent-post-image">
                    </div>

                    <div class="recent-post-content">
                        <h4 class="light-bold">Some title to go here</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.....</p>
                        <a href="#" class="view-recent-link">View more &rAarr;</a>

                    </div>

                </div>

                <div class="recent-post">
                    <div class="recent-post-container">
                        <img src="{% static '/img/display/jpg/banner2.jpg' %}" alt="recent image pic"
                            class="recent-post-image">
                    </div>

                    <div class="recent-post-content">
                        <h4 class="light-bold">Some title to go here</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.....</p>
                        <a href="#" class="view-recent-link">View more &rAarr;</a>

                    </div>

                </div>

                <div class="recent-post">
                    <div class="recent-post-container">
                        <img src="{% static '/img/display/jpg/banner3.jpg' %}" alt="recent image pic"
                            class="recent-post-image">
                    </div>

                    <div class="recent-post-content">
                        <h4 class="light-bold">Some title to go here</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.....</p>
                        <a href="#" class="view-recent-link">View more &rAarr;</a>

                    </div>

                </div>

                <div class="recent-post">
                    <div class="recent-post-container">
                        <img src="{% static '/img/display/jpg/banner4.jpg' %}" alt="recent image pic"
                            class="recent-post-image">
                    </div>

                    <div class="recent-post-content">
                        <h4 class="light-bold">Some title to go here</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.....</p>
                        <a href="#" class="view-recent-link">View more &rAarr;</a>

                    </div>

                </div>



            </div>

            <div class="related-blogs">
                <h2 class="light-bold center text-capitalize">Related blogs</h2>
                <div class="cards">
                    <!-- card -->
                    <div class="card">

                        <div class="card-head">
                            <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="post covver image"
                                class="card-head-img">
                        </div>

                        <div class="card-body">
                            <h3>Title of the post to go here</h3>
                        </div>

                        <div class="card-footer">
                            <div class="card-author-img">
                                <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="author image"
                                    class="card-icon">
                            </div>

                            <div class="card-footer-details">
                                <p>Author name</p>
                                <p>Tue 5 November 2024</p>

                            </div>
                        </div>

                    </div>
                    <!-- end of card -->

                    <div class="card">

                        <div class="card-head">
                            <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="post covver image"
                                class="card-head-img">
                        </div>

                        <div class="card-body">
                            <h3>Title of the post to go here</h3>
                        </div>

                        <div class="card-footer">
                            <div class="card-author-img">
                                <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="author image"
                                    class="card-icon">
                            </div>

                            <div class="card-footer-details">
                                <p>Author name</p>
                                <p>Tue 5 November 2024</p>

                            </div>
                        </div>

                    </div>
                    <!-- end of card -->

                    <div class="card">

                        <div class="card-head">
                            <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="post covver image"
                                class="card-head-img">
                        </div>

                        <div class="card-body">
                            <h3>Title of the post to go here</h3>
                        </div>

                        <div class="card-footer">
                            <div class="card-author-img">
                                <img src="{% static '/img/display/jpg/banner1.jpg' %}" alt="author image"
                                    class="card-icon">
                            </div>

                            <div class="card-footer-details">
                                <p>Author name</p>
                                <p>Tue 5 November 2024</p>

                            </div>
                        </div>

                    </div>
                    <!-- end of card -->

                </div>
            </div>


            <div class="top-category">

                <h2 class="center padding-bottom-sm">Top categories</h2>
                <div class="cards">
                    <div class="card">
                        <div class="head">
                            <h4>Some title will go here</h4>
                        </div>

                        <div class="body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error nihil alias quos vero
                                accusantium rerum, sapiente molestiae ducimus voluptas laudantium excepturi, laboriosam
                                dicta. Perferendis dolorem magnam inventore, fuga dicta laborum!</p>
                        </div>

                        <div class="footer">
                            <a href="#" class="view-recent-link">View more &rAarr;</a>
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="card">
                        <div class="head">
                            <h4>Some title will go here</h4>
                        </div>

                        <div class="body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error nihil alias quos vero
                                accusantium rerum, sapiente molestiae ducimus voluptas laudantium excepturi, laboriosam
                                dicta. Perferendis dolorem magnam inventore, fuga dicta laborum!</p>
                        </div>

                        <div class="footer">
                            <a href="#" class="view-recent-link">View more &rAarr;</a>
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="card">
                        <div class="head">
                            <h4>Some title will go here</h4>
                        </div>

                        <div class="body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error nihil alias quos vero
                                accusantium rerum, sapiente molestiae ducimus voluptas laudantium excepturi, laboriosam
                                dicta. Perferendis dolorem magnam inventore, fuga dicta laborum!</p>
                        </div>

                        <div class="footer">
                            <a href="#" class="view-recent-link">View more &rAarr;</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="top-blog-tags">

                <h3 class="center text-capitalize">Top blog tags</h3>
                <div class="blog-tags">
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                    <a href="#">
                        <div class="blog-tag">tag content here</div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- The show likes container -->
    <div id="show-likes" class="d-none">
        <div class="window-close-container flex-end">
            <a href="#" class="close-icon"><img src="../../static/img/icons/window-close.svg" alt="close icon"
                    class="reaction-view-close-icon"></a>
        </div>
        <h1 class="padding-bottom-sm">Reactions</h1>

        <!-- tab headers -->
        <div class="tabs" id="tabs">

            <!-- all tabs -->
            <div class="tab">
                <a href="#" class="reactions all-icons highlight tab-active" title="all icons">
                    <img src="{% static '/img/icons/globe.svg' %}" alt="like icon" class="show-reaction-icon like-icons"
                        title="all icons" data-emoji="allIcon">
                    All (26)
                </a>
            </div>

            <!-- like tab -->
            <div class="tab like">
                <span>
                    <a href="#" class="reactions like" title="like"><img src="{% static '/img/icons/thumbs-up.svg' %}"
                            alt="like icon" class="show-reaction-icon like-icon" title="like" data-emoji="likeIcon">
                        6
                    </a>
                </span>
            </div>

            <!-- tab love -->
            <div class="tab love">
                <span>
                    <a href="#" class="reactions love" title="love"><img src="{% static '/img/icons/red-heart.svg' %}"
                            alt="red heart icon" class="show-reaction-icon love-icon" title="love"
                            data-emoji="loveIcon">2</a>
                </span>
            </div>

            <!-- tab insight -->
            <div class="tab insight">
                <span>
                    <a href="#" class="reactions insight" title="insight"><img
                            src="{% static '/img/icons/light-bulb.svg' %}" alt="like icon"
                            class="show-reaction-icon insight-icon" title="insight" data-emoji="insightIcon">5</a>
                </span>
            </div>

            <!-- tab celebrate -->
            <div class="tab celebrate">
                <span>
                    <a href="#" class="reactions celebrate" title="celebrate"><img
                            src="{% static '/img/icons/clapping-hands-default.svg' %}" alt="comment icon"
                            class="show-reaction-icon celebrate-icon" title="celebrate" data-emoji="celebrateIcon">4</a>

                </span>
            </div>

            <!-- tab funny -->
            <div class="tab funny">
                <span>
                    <a href="#" class="reactions funny" title="funny"><img
                            src="{% static '/img/icons/face-with-tears-of-joy.svg' %}" alt="comment icon"
                            class="show-reaction-icon funny-icon" title="funny" data-emoji="funnyIcon">4</a>

                </span>

            </div>

            <!-- sparkles tab -->
            <div class="tab sparkles">
                <span>
                    <a href="#" class="reactions funny" title="funny"><img src="{% static '/img/icons/sparkles.svg' %}"
                            alt="comment icon" class="show-reaction-icon sparkles-icon" title="sparkles"
                            data-emoji="sparklesIcon">2</a>

                </span>

            </div>

            <!-- hundred tab -->
            <div class="tab hundred">
                <span>
                    <a href="#" class="reactions hundred" title="funny"><img
                            src="{% static '/img/icons/hundred-points.svg' %}" alt="comment icon"
                            class="show-reaction-icon hundred-icon" title="hundred" data-emoji="hundredIcon">2</a>
                </span>
            </div>
        </div>

        <hr class="dividor padding-top-lg">

        <div class="d-none tab-section" id="like-tab">

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

        <!-- Tab sections -->
        <!-- all tabs -->
        <div class="d-none tab-section" id="all-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>
        <!-- Likes tab -->
        <div class="d-none tab-section" id="like-tab">

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="like-tab tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>
        <!-- Love tab -->
        <div class="d-none tab-section" id="love-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

        <!-- Insigt tab -->
        <div class="d-none tab-section" id="insight-tab">


            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>


        </div>

        <!-- Celebrate tab -->
        <div class="d-none tab-section" id="celebrate-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

        <!-- Funny tab -->
        <div class="d-none tab-section" id="funny-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

        <!--  Tab -->
        <div class="d-none tab-section" id="sparkles-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

        <!-- Hundred tab -->
        <div class="d-none tab-section" id="hundred-tab">

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

            <div class="tab-content">
                <div class="img">
                    <img src="{% static 'img/display/jpg/person-9.png' %}" alt="image pic" class="tab-image">
                </div>

                <div class="auth-info">
                    <p class="bold text-capitalize">Author name</p>
                    <p>Website if exists</p>
                </div>
            </div>

        </div>

    </div>

    <div class="small-spinner"></div>
</section>

<!-- login -->
{% include "partials/login.html" %}

<!-- register -->
{% include "partials/register.html" %}

{% endblock body %}

{% block script %}
<script src="{% static 'js/modules/auth.js' %}" type="module"></script>
<script src="{% static 'js/pages/blog.js' %}" type="module"></script>

{% endblock %}