{% extends "base.html" %}
{% load static %}

{% block title %}Financial Management {% endblock %}


{% block body %}

<section id="financial-management" aria-labelledby="financial-management-heading">
    <div class="content-container">

        {% include "partials/logo_link.html" %}

        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account' %}">My account</a></li>
            <li>Financial management</li>
        </ul>
        <h1 id="financial-management-heading" class="padding-top-md lighten text-capitalize">Financial Management</h1>
        <p class="account-info">Manage financials</p>

        <hr class="dividor">
        <div class="account__options cards">
            <a href="#" aria-labelledby="financial-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/view-financial-account-reopen.svg' %}"
                            alt="financial account book icon" class="account-icon">
                    </div>
                    <div class="body">
                        <p id="financial-heading" class="title">Financial Summary Dashboard</p>
                        <p id="financial-description">Get a comprehensive overview of your financial activities at a
                            glance.</p>
                    </div>

                </div>
            </a>
            <a href="#" aria-labelledby="transactions-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static '/img/icons/tran.svg' %}" alt="transactions icon" class="account-icon">
                    </div>
                    <div class="body">
                        <p id="transactions-heading">Transactions</p>
                        <p id="transactions-description">Monitor all transactions.</p>
                    </div>

                </div>
            </a>
            <a href="#" aria-labelledby="refund-management-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/money-refund-dollar.svg' %}" alt="refund dollar icon"
                            class="account-icon">

                    </div>
                    <div class="body">
                        <p id="refund-management-heading">Refund Management</p>
                        <p id="refund-management-description">Handle refunds, process requests, and manage customer
                            reimbursements.</p>
                    </div>

                </div>
            </a>
            <a href="#" aria-labelledby="invoices-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/bill.svg' %}" alt="invoices-heading icon" class="account-icon">
                    </div>
                    <div class="body">
                        <p id="invoices-heading">Invoices</p>
                        <p id="invoices-description">Manage billing details, track payment statuses, and generate
                            financial records.</p>
                    </div>

                </div>
            </a>
            <a href="#" aria-labelledby="expenses-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/corp-interest-expenses.svg' %}" alt="expenses icon"
                            class="account-icon">
                    </div>
                    <div class="body">
                        <p id="expenses-heading">Expenses</p>
                        <p id="expenses-description">Track operational costs, manage expenses, and maintain financial
                            transparency.</p>
                    </div>

                </div>
            </a>
            <a href="#" aria-labelledby="tax-management-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/corp-sundry-taxes.svg' %}" alt="tax management icon"
                            class="account-icon">

                    </div>
                    <div class="body">
                        <p id="tax-management-heading">Tax Management</p>
                        <p id="tax-management-description">Configure tax rates, generate tax reports, and manage tax
                            filings efficiently.</p>
                    </div>

                </div>
            </a>

        </div>


    </div>
</section>


{% endblock %}

{% block script %}
<script src="static/js/modules/auth.js" type="module"></script>

{% endblock %}