{% extends "base_add_product_form.html" %}
{% load static %}

{% comment %} window.countriesFileUrl = "{% static 'utils/countries.txt' %}" {% endcomment %}


{% block title %} Additional information {% endblock %}

{% block section_title %} Additional information {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="additional-information-form">

        <!-- Manufacturer Title Section -->
        <label for="manafacturer-title" class="text-capitalize" id="manafacturer-title">Manufacturer title</label>
        <input type="text" name="manafacturer-title" id="manafacturer-title" required>

        <!-- Country of Origin Section -->
        <label for="countries" class="text-capitalize">Country of origin</label>
        
        <select name="country-of-origin" id="countries">
            <!-- Options for selecting the country of origin would be dynamically added here -->
        </select> 

        <!-- Return Policy Section -->
        <label for="return-policy" class="text-capitalize">Return policy</label>
        <select name="return-policy" id="return-policy" required>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>

        <!-- Warranty Description Section -->
        <label for="warranty-description">Warranty description</label>
        <textarea name="warranty-description" id="warranty-description" rows="15" cols="10" required></textarea>
    
        <p class="flex-end minimum-characters">Minimum characters to use: 50</p>
        <p class="maximum-characters flex-end">Number of characters remaining: 2000</p>

        <!-- Navigation Buttons -->
        <div class="button space-between">
            <button class="prev-button" type="button" onclick="prevPage(event, 6)"> &lt; prev</button>
            <button class="next-button" type="submit">next &gt;</button>
        </div>
    </form>

    
    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">

        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='BasicProduct information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'js/components/add-product.js' %}" type="module"></script> 
{% endblock %}



             



      

                   
                





   

