{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Basic product information{% endblock %}

{% block section_title %}Basic product information {% endblock %}

{% block body %}

    <form action="{% url 'basic_description_form' %}" method="post" class="add-product-form"
        id="basic-product-information-form">

        {% csrf_token %}

        {% include "partials/form_errors.html" with form=form %}

        {% for field in form %}
            {% if field.name == 'new_category' %}
                <label for="add-category" id="add-category-label">Add new category</label>
                {{ form.new_category }}
            {% else %}
                 {{ field.as_field_group }}
            {% endif %}
        {% endfor %}

        <!-- Error and Helper Messages for Description -->
        <p class="flex-end minimum-characters">Minimum characters to use: 50</p>
        <p class="maximum-characters flex-end">Number of characters remaining: 255</p>
     
        <!-- Submit Button Section -->
        <div class="button flex-end add-product-btn-container">
             <button type="submit" class="next-button"> next &gt;</button>
         </div>
     </form>
        


    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">

        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Basic Product information' id='basic-product-information' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Nutrition' id='nutrition' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'js/components/add-product.js' %}" type="module"></script> 
{% endblock %}