{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Detailed product description{% endblock %}

{% block section_title %} Detailed product description {% endblock %}

{% block body %}

    <form action="{% url 'detailed_description_form' %}" method="post" class="add-product-form" id="detailed-description-form">

        {% csrf_token %} 

        {% include "partials/form_errors.html" with form=form %}

        <!-- Colors Options Section -->
        <h4 class="text-capitalize">Colors options</h4>
        <hr class="dividor">
        <div class="colors">
            
            {% for color_dict in form.color_choices  %}
                <div class="color">
                    <input type="checkbox" id="{{ color_dict.id }}"  name={{ color_dict.name }} value="{{ color_dict.value }}" 
                     data-color="{{ color_dict.data_color }}">
                     
                    <label for="{{ color_dict.value}}" class="{{ color_dict.value}}">{{ color_dict.value }}</label>
                    <br>
                </div>
            {% endfor %}

        </div>

        <!-- Error Message for Color Selection -->
        <p class="error-msg" id="color-error-msg">You must select at least one color</p>

        <!-- Sizes -->
        
        <!-- Size Options Section -->
        <h4 class="text-capitalize">Size options</h4>
        <hr class="dividor">

        <div class="sizes">

            {% for size_dict in form.size_choices %}
                <div class="{{ size_dict.class }} size">
                    <input type="checkbox" id="{{ size_dict.id }}" name="{{ size_dict.name }}" value="{{ size_dict.value }}" data-size="{{ size_dict.data_size }}">
                    <label for="{{ size_dict.value }}" class="{{ size_dict.class }}">{{ size_dict.value }}</label><br>
                </div>
            {% endfor %}
          
        </div>

        <!-- Error Message for Size Selection -->
        <p class="error-msg" id="size-error-msg">You must select at least one size</p>

        <!-- Dimensions Section -->
        <fieldset class="dimensions">
            <h4>Food Dimensions</h4>
            <hr class="dividor">

            {{ form.length.label_tag }}
            {{ form.length }}

            {{ form.width.label_tag }}
            {{ form.width }}

            {{ form.height.label_tag }}
            {{ form.height }}

        </fieldset>

        <!-- Error Message for Dimensions -->
        <p class="error-msg" id="size-error-msg"></p>


        <!-- Weight Section -->
        <h4 class="text-capitalize">Weight</h4>
        <hr class="dividor">

        {{ form.weight.label_tag }}
        {{ form.weight }}
       

        <!-- Description Section -->
        <h4 class="text-capitalize">Description</h4>
        <hr class="dividor">

        {{ form.description.label_tag }}
        {{ form.description }}

        <p class="flex-end minimum-characters">Minimum characters to use: 50</p>
        <p class="maximum-characters flex-end">Number of characters remaining: 1000</p>

        <!-- Navigation Buttons -->
        <div class="button space-between">
            <a href="{% url 'basic_description_form' %}" class="prev-button center">
               &lt; prev
            </a>
           
            <button type="submit" class="next-button"> next &gt;</button>
        </div>
    </form>

    
    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">
      
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Description and Specifications' id='detailed-description-specs' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'js/components/add-product.js' %}" type="module"></script> 
{% endblock %}


