{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Images and Media {% endblock %}

{% block section_title %} Images and media {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form image-media-form" id="image-media-form">
        <!-- Primary Image Upload Section -->
        <label for="primary-image">Upload primary image <span class="highlight">(required)</span></label>
        <input type="file" name="primary-image" id="primary-image" required accept="image/*">

        <!-- Side Image 1 Upload Section -->
        <label for="side-image1">Upload Side image 1 <span class="highlight">(required)</span></label>
        <input type="file" name="side-image1" id="side-image1" required accept="image/*">

        <!-- Side Image 2 Upload Section -->
        <label for="side-image2">Upload Side image 2 <span class="highlight">(required)</span></label>
        <input type="file" name="side-image2" id="side-image2" required accept="image/*">
    
        <!-- Primary Video Upload Section -->
        <label for="primary-video">Upload primary video <span>(Optional)</span></label>
        <input type="file" name="primary-video" id="primary-video" accept="video/*">

        <!-- Navigation Buttons -->
        <div class="button space-between padding-top-md">
            <button class="prev-button" type="button" onclick="prevPage(event, 3)"> &lt; prev</button>
            <button class="next-button" type="submit">next &gt;</button>
        </div>
    </form>

    
    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">

        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Images and media' id='images-media' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'js/components/add-product.js' %}" type="module"></script> 
{% endblock %}



             




   
