{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Images and Media {% endblock %}

{% block section_title %} Images and media {% endblock %}

{% block body %}

    <form action="{% url 'images_and_media_form' %}" method="post" class="add-product-form image-media-form" id="image-media-form" 
                    aria-labelledby="image-media-form-heading" enctype="multipart/form-data">


        {% csrf_token %}

        {% include "partials/form_errors.html" %}
        
        <!-- Form Heading -->
        <h2 id="image-media-form-heading" class="visually-hidden">Image and Media Upload Form</h2>
        
        <!-- Primary Image Upload Section -->
         {{ form.primary_image.label_tag }}
         {{ form.primary_image }}
        <div id="primary-image-description" class="visually-hidden">Please upload the primary image. This field is required.</div>

        <!-- Side Image 1 Upload Section -->
         {{ form.side_image1.label_tag }}
         {{ form.side_image1 }}
        <div id="side-image1-description" class="visually-hidden">Please upload the first side image. This field is required.</div>

        <!-- Side Image 2 Upload Section -->
        {{ form.side_image2.label_tag }}
        {{ form.side_image2 }}
        <div id="side-image2-description" class="visually-hidden">Please upload the second side image. This field is required.</div>

        <!-- Navigation Buttons -->
        <div class="button space-between">
            <a href="{% url 'pricing_and_inventory_form' %}" class="prev-button center" aria-label="Go to the previous section: Pricing and Inventory Form">
                &lt; prev
            </a>
            <button type="submit" class="next-button" aria-label="Go to the next section"> next &gt;</button>
        </div>
    </form>


   
    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">

        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Images and media' id='images-media' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'js/components/add-product.js' %}" type="module"></script> 
{% endblock %}



             




   
