{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Nutritional information {% endblock %}

{% block section_title %} Add nutritional information {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="nutrition-form">

        {% csrf_token %}
        {% include "partials/form_errors.html" with form=form %}
        
        <div class="triple-grid">

            <div class="calories">
                {{ form.calories.label }}
                {{ form.calories }}

            </div>

            <div class="carbohydrates">
                {{ form.carbohydrates.label }}
                {{ form.carbohydrates }}
            </div>

            <div class="sugar">
                {{ form.sugar.label }}
                {{ form.sugar }}
            </div>

        </div>

        <div class="triple-grid">

            <div class="protein">
                {{ form.protein.label }}
                {{ form.protein }}

            </div>

            <div class="carbohydrates">
                {{ form.fibre.label }}
                {{ form.fibre }}
            </div>

            <div class="sugar">
                {{ form.fat.label }}
                {{ form.fat }}
            </div>

        </div>
       
      
        <!-- Navigation buttons -->
        <div class="button space-between padding-top-md">
            <a href="#" class="prev-button center" onclick="history.back()" aria-label="Go to the previous section: Shipping and Delivery Form">
                &lt; prev
            </a>
            
            <button type="submit" class="next-button" aria-label="Go to the next section"> next &gt;</button>
        </div>
    </form>


    <div class="progress-list">
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True%}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Nutrition' id='nutrition' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}

{% block script %}

    <script src="{% static '/js/modules/auth.js'  %}" type="module"></script>
    <script src="{% static '/js/components/add-product.js' %}" type="module"></script>

{% endblock %}