{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Pricing and Inventory{% endblock %}

{% block section_title %}Price and inventory {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="pricing-inventory-form">
        {% csrf_token %}

        <!-- price input field -->
        <label for="price">Price</label>
        <input type="number" name="price" id="price" min="1" max="10000" step="0.01" required>

        <!-- Availability options -->
        <label for="availability">Availability</label>
        <select name="availability" id="availability" class="select-category" required>
            <option value="in-stock">In stock</option>
            <option value="out-of-stock">Out of stock</option>
            <option value="pre-order">Pre-order</option>
        </select>

        <!-- Add discount options -->
        <label for="add-discount">Add discount</label>
        <select name="select-discount" id="select-discount" class="select-category" required>
            <option value="default" selected disabled>Select a category</option>

            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>

        <label for="add-discount" id="add-discount-label">Add a discount</label>
        <input type="number" name="add-discount" id="add-discount" min="1" max="10000" step="0.01" required>

        <!-- Quantity stock field -->
        <label for="quantity-stock">Quantity in stock</label>
        <input type="number" name="quantity-stock" id="quantity-stock" min="1" max="10000" step="1" required>

        <!-- minimum order field -->
        <label for="minimum-order-quantity">Minimum order quantity</label>
        <input type="number" name="minimum-order-quantity" id="minimum-order-quantity" min="1" max="10000" step="1" required>

        <!-- maximum order field -->
        <label for="maximum-order-quantity">Maximum order quantity</label>
        <input type="number" name="maximum-order-quantity" id="maximum-order-quantity" min="1" max="10000" step="1" required>


        <div class="button space-between">
            <a href="{% url 'detailed_description_form' %}" class="prev-button center">
               &lt; prev
            </a>
           
            <button type="submit" class="next-button"> next &gt;</button>
        </div>
    </form>

     <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">

        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Pricing and Inventory' id='pricing-inventory' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}
{% block script %}

    <script src="{% static '/js/modules/auth.js'  %}" type="module"></script>
    <script src="{% static '/js/components/add-product.js'  %}" type="module"></script>
    <script src="{% static 'js/components/add-product.js' %}"  type="module"></script>
{% endblock %}