{% extends "base.html" %}
{% load static %}

{% block title %} Product management overview {% endblock %}

{% block body %}

    <section id="product-management" aria-labelledby="product-management-heading">
        <div class="content-container">

            {% include "partials/logo_link.html" %}

            {% comment %} {% include "partials/breadcrumb_and_heading.html" %} {% endcomment %}

            <h1 id="product-management-heading" class="padding-top-md lighten text-capitalize">Product Management</h1>
            <p class="account-info">Manage products overview</p>

            <hr class="dividor">
            <div class="account__options cards">

                <a href="{% url 'basic_description_form' %}" aria-labelledby="add-plus-heading" class="card-link">
                    <div class="card-grid">
                        <div class="head">
                            <img src="{% static '/img/icons/plus.svg' %}" alt="add plus icon" class="account-icon">
                        </div>
                        <div class="body">
                            <p id="add-heading" class="title">Add a new product</p>
                            <p id="add-description">Introduce an item to your inventory by filling out the necessary details
                                below.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'view_products' %}" aria-labelledby="view-product-heading" class="card-link">
                    <div class="card-grid">
                        <div class="head">
                            <img src="{% static '/img/icons/view-financial-account-reopen.svg' %}" alt="transactions icon"
                                class="account-icon">
                        </div>
                        <div class="body">
                            <p id="transactions-heading">View all products</p>
                            <p id="transactions-description">A complete list of all products, with options to
                                sort and filter by different criteria (e.g. category, price, stock level).</p>
                        </div>

                    </div>
                </a>
                <a href="#" aria-labelledby="bulk-upload-heading" class="card-link">
                    <div class="card-grid">
                        <div class="head">
                            <img src="{% static '/img/icons/find-in-page.svg' %}" alt="bulk upload icon"
                                class="account-icon">
                        </div>
                        <div class="body">
                            <p id="bulk-upload-heading">Bulk upload</p>
                            <p id="bulk-upload-description">Upload multiple products at once using CSV or Excels.</p>
                        </div>

                    </div>
                </a>
                <a href="#" aria-labelledby="seo-management-heading" class="card-link">
                    <div class="card-grid">
                        <div class="head">
                            <img src="{% static '/img/icons/draft-orders-major.svg' %}" alt="seo-management-heading icon"
                                class="account-icon">
                        </div>
                        <div class="body">
                            <p id="seo-management-heading">SEO management</p>
                            <p id="seo-management-description">Set meta tags, keywords and other SEO-related fields for
                                products.</p>
                        </div>

                    </div>
                </a>

            </div>
        </div>
    </section>

{% endblock %}


{% block script %}
    <script src="{% static '/js/modules/add-product.js' %}" type="module"></script>

{% endblock %}