{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} SEO and meta information {% endblock %}

{% block section_title %} SEO and meta information {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="seo-and-meta-form">

        {% csrf_token %}

        {% for field in form %}
            {{ field.as_field_group }}
        {% endfor %}
        <!-- Character count information -->
        <p id="minimum-characters" class="flex-end minimum-characters">Minimum characters to use: 10</p>
        <p id="maximum-characters" class="maximum-characters flex-end">Number of characters remaining: 500</p>

        <!-- Navigation buttons -->
        <div class="button space-between">
            <a href="{% url 'shipping_and_delivery_form' %}" class="prev-button center" aria-label="Go to the previous section: Shipping and Selivery Form">
                &lt; prev
            </a>
            <button type="submit" class="next-button" aria-label="Go to the next section"> next &gt;</button>
        </div>
    </form>


    <div class="progress-list">
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True%}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}

{% block script %}

    <script src="{% static '/js/modules/auth.js'  %}" type="module"></script>
    <script src="{% static '/js/components/add-product.js' %}" type="module"></script>

{% endblock %}