{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} SEO and meta information {% endblock %}

{% block section_title %} SEO and meta information {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="seo-and-meta-form">

        {% csrf_token %}

        <!-- meta title input field -->
        <label for="meta-title" class="text-capitalize" id="meta-title">Meta title</label>
        <input type="text" name="meta-title" id="meta-title" required>

        <!-- meta keywords input field -->
        <label for="meta-keywords" class="text-capitalize" id="meta-keywords">Add Meta keywords separated by a comma (delicious, creamy, etc)</label>
        <input type="text" name="meta-keywords" id="meta-keywords" required>

        <!-- meta description input field -->
        <label for="meta-description">Meta Description</label>
        <textarea name="meta-description" id="meta-description" rows="10" cols="10" required></textarea>
        <p class="flex-end minimum-characters">Minimum characters to use: 10</p>
        <p class="maximum-characters flex-end">Number of characters remaining: 500</p>

        <div class="button space-between">
            <button class="prev-button" type="button" onclick="prevPage(event, 5)"> &lt; prev</button>
            <button class="next-button" type="submit">next &gt;</button>
        </div>
    </form>

    <div class="progress-list">
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True%}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Shipping and delivery' id='shipping-delivery' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>

{% endblock %}

{% block script %}

    <script src="{% static '/js/modules/auth.js'  %}" type="module"></script>
    <script src="{% static '/js/components/add-product.js' %}" type="module"></script>

{% endblock %}