{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Shipping and delivery {% endblock %}

{% block section_title %} Shipping and delivery {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="shipping-and-delivery-form">

        <!-- The shipping dimensions -->
        <legend>Shipping Dimensions</legend>
        <hr class="dividor">
        <fieldset class="dimensions">
            <label for="length">Length</label>
            <input type="number" name="length" id="length" min="1" max="10000" step="0.1" required>

            <label for="width">Width</label>
            <input type="number" name="width" id="width" min="1" max="10000" step="0.1" required>

            <label for="height">Height</label>
            <input type="number" name="height" id="height" min="1" max="10000" step="0.1" required>
        </fieldset>

        <!-- The shipping weight -->
        <legend class="text-capitalize">Shipping Weight</legend>
        <hr class="dividor">
        <label for="weight">Weight (kg)</label>
        <input type="number" name="weight" id="weight" min="1" max="10000" step="0.1" required>


        <!-- The shipping options -->
        <legend>Shipping Options</legend>
        <hr class="dividor">
        <fieldset class="shipping-options">
            <label>
                <input type="checkbox" name="shipping" value="standard" data-shipping-type="standard" data-cost="3.99"
                    data-delivery-time="3-5 business days">
                Standard Shipping (3-5 business days) - £3.99
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="express" data-shipping-type="express" data-cost="5.99"
                    data-delivery-time="1-2 business days">
                Express Shipping (1-2 business days) - £5.99
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="next-day" data-shipping-type="next-day" data-cost="9.99"
                    data-delivery-time="Next-Day Delivery">
                Next-Day Delivery - £9.99
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="same-day" data-shipping-type="same-day" data-cost="14.99"
                    data-delivery-time="Same-Day Delivery (order by 2 PM)">
                Same-Day Delivery (order by 2 PM) - £14.99
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="click-collect" data-shipping-type="click-collect"
                    data-cost="0.00" data-delivery-time="1-2 days">
                Click and Collect (1-2 days) - Free
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="weekend" data-shipping-type="weekend" data-cost="7.99"
                    data-delivery-time="Weekend Delivery">
                Weekend Delivery - £7.99
            </label><br>

            <label>
                <input type="checkbox" name="shipping" value="free" data-shipping-type="free" data-cost="0.00"
                    data-delivery-time="Free Shipping (orders over £50)">
                Free Shipping (orders over £50) - Free
            </label><br>
        </fieldset>


        <p class="error-msg" id="delivery-error-msg">You must select at least one delivery option</p>

        <div class="button space-between">
            <button class="prev-button" type="button" onclick="prevPage(event, 4)"> &lt; prev</button>
            <button class="next-button" type="submit">next &gt;</button>
        </div>
    </form>

    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>


{% endblock %}



{% block script %}
<script src="{% static '/js/modules/auth.js' %}" type="module"></script>
<script src="{% static '/js/components/add-product.js' %}" type="module"></script>
{% endblock %}