{% extends "base_add_product_form.html" %}
{% load static %}

{% block title %} Shipping and delivery {% endblock %}

{% block section_title %} Shipping and delivery {% endblock %}

{% block body %}

    <form action="" method="post" class="add-product-form" id="shipping-and-delivery-form">
        {% csrf_token %}
        <!-- The shipping dimensions -->
        <h4 class="padding-top-md" id="shipping-dimensions-heading">Shipping Dimensions</h4>
        <hr class="dividor">
        <div class="dimensions" aria-labelledby="shipping-dimensions-heading">
            
            {{ form.length.label_tag }}
            {{ form.length }}

            <span id="length-desc" class="sr-only">Enter the length in centimeters</span>


            {{ form.width.label_tag }}
            {{ form.width }}

            <span id="width-desc" class="sr-only">Enter the width in centimeters</span>

            {{ form.height.label_tag }}
            {{ form.height }}

            <span id="height-desc" class="sr-only">Enter the height in centimeters</span>
        </div>

        <!-- The shipping weight -->
        <h4 class="text-capitalize padding-top-md" id="shipping-weight-heading">Shipping Weight</h4>
        <hr class="dividor">
        <div class="shipping-weight" aria-labelledby="shipping-weight-heading">

            {{ form.weight.label_tag }}
            {{ form.weight }}

            <span id="weight-desc" class="sr-only">Enter the weight in kilograms</span>
        </div>

        <!-- The shipping options -->
        <h4 class="padding-top-md" id="shipping-options-heading">Available shipping options for the product</h4>
        <hr class="dividor">
        <div class="shipping-options" aria-labelledby="shipping-options-heading">
            <h4 class="sr-only">Select a shipping method</h4>
            {% for delivery_option in form.delivery_options %}
                <div class="options">
                    {{ delivery_option }}
                </div>
               
            {% endfor %}
             
        </div>

        <h4 class="padding-top-md" id="shipping-options-heading">Shipping Delivery Option Cost</h4>
        <small>Default will be £0.00 if not set</small>
        <hr class="dividor">
         <div class="shipping-cost padding-bottom-md" aria-labelledby="shipping-cost-heading">
            
             <div class="group padding-bottom-sm" id="standard">
                {{ form.standard_shipping.label_tag }}
                {{ form.standard_shipping }}

                <span id="standard-shipping-desc" class="sr-only">Enter the shipping delivery cost</span>
             </div>
             
             <div class="group padding-bottom-sm" id="premium">
                {{ form.premium_shipping.label_tag }}
                {{ form.premium_shipping }}

                <span id="premium_shipping-desc" class="sr-only">Enter the premium delivery cost</span>
             </div>

             <div class="group padding-bottom-sm" id="express">
                {{ form.express_shipping.label_tag }}
                {{ form.express_shipping }}

                <span id="weight-desc" class="sr-only">Enter the express delivery cost</span>
             </div>
           
        
         </div>

        <!-- Navigation Buttons -->
        <div class="button space-between">
            <a href="{% url 'images_and_media_form' %}" class="prev-button center">
            &lt; prev
            </a>
        
            <button type="submit" class="next-button"> next &gt;</button>
        </div>
    </form>


    <!-- The progess status i.e the number of forms left to complete -->
    <div class="progress-list">
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Basic Product information' id='basic-product-information' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Description and Specifications' id='detailed-description-specs' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Pricing and Inventory' id='pricing-inventory' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Images and media' id='images-media' remove_opacity=True %}
        {% include "partials/form_progress_checker.html" with is_current_page=True current_page='Shipping and delivery' id='shipping-delivery' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='SEO and Meta Information' id='seo-meta-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Nutrition' id='nutrition' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Additional information' id='additional-info' %}
        {% include "partials/form_progress_checker.html" with is_current_page=False current_page='Review and Submit' id='review-submit' %}

    </div>


{% endblock %}



{% block script %}
<script src="{% static '/js/modules/auth.js' %}" type="module"></script>
<script src="{% static '/js/components/add-product.js' %}" type="module"></script>
{% endblock %}