
<div class="sidebar">
    <div class="logo-text">
        <span aria-label="Logo">EUorganics</span>
    </div>
    <div class="categories">
        <div class="header">
            <a href="#" aria-label="View all departments" class="bold text-upper">All departments</a>
        </div>

        <div class="body">
            <a href="#" aria-label="View Fresh menu">Fresh menu</a>
            <a href="#" aria-label="View Vegetables">Vegetables</a>
            <a href="#" aria-label="View Fruit and Nut Gifts">Fruit & Nut Gifts</a>
            <a href="#" aria-label="View Fresh Berries">Fresh Berries</a>
            <a href="#" aria-label="View Ocean Foods">Ocean Foods</a>
            <a href="#" aria-label="View Butter and Eggs">Butter & Eggs</a>
            <a href="#" aria-label="View Drink">Drinks</a>
            <a href="#" aria-label="View Fresh Onion">Fresh Onion</a>
            <a href="#" aria-label="View Papayaya and Crisps">Papayaya & Crisps</a>
            <a href="#" aria-label="View Oatmeal">Oatmeal</a>
            <a href="#" aria-label="View Fresh Bananas">Fresh Bananas</a>
        </div>
    </div>
</div>