{% load static %}

<div class="call-to-action">
    <div class="info">
        <p class="small-header bold">Fresh Fruit</p>
        <p class="large-header">Vegetables</p>
        <p class="medium-header">100% Organic</p>
        <p>Free Pickup and delivery available</p>

        <button class="button-md shop-btn" aria-label="Shop now">Shop now</button>
    </div>

    <div class="main-img">
        <img src="{% static '/img/main/main-bg.png' %}" alt="The main background image" class="main-image">
    </div>
</div>