{% load static %}
       
        <section id="faq-help">

            <div class="container">

                <div class="head">
                    <div class="intro">
                        <p>Ask me anything?</p>
                    </div>
                    <div class="close">
                        <a href="#">close</a>
                    </div>
                </div>

                <div class="body chat">
                    <div class="system">
                        <small class="chat-label">Faq bot</small>
                        <p>Hi, how can I help you?</p>
                        <hr class="dividor">
                    </div>

                    <!--Note to self remove test data-->
                 
                    <div class="user">
                        <small class="chat-label">User</small>
                        <p>Do you have physical stores?</p>
                    </div>

                    <div class="system">
                        <small class="chat-label">Faq bot</small>
                        <p>Yes, we have a few phyical stores</p>
                    </div>

                    <hr class="dividor">

                    <div class="user">
                        <small class="chat-label">User</small>
                        <p>Where are the location of these stores</p>
                    </div>

                    <div class="system">
                        <small class="chat-label">Faq bot</small>
                        <p>We have two in London</p>
                    </div>

                    <hr class="dividor">
            
                    <div class="user">
                        <small class="chat-label">User</small>
                        <p>What type of products do you have?</p>
                    </div>

                  

                    <div class="system">
                        <small class="chat-label">Faq bot</small>
                        <p>We have a range of products and these include organic food, fruits</p>
                    </div>
                    <hr class="dividor">

                   
                </div>

                <div class="footer">
                    <div class="send">
                        <input type="text" name="send" id="send" placeholder="Ask me anything?">
                    </div>
                    <div class="btn send-btn">
                        <p>send</p>
                    </div>
                </div>

            </div>



        </section>
