
       
        <section id="faq-help">

            <div class="container">

                <div class="head">
                    <div class="intro">
                        <p>Ask me anything?</p>
                    </div>
                </div>

                <div class="body chat">
                    <div class="system">
                        <small>Faq bot</small>
                        <p>Hi, how can I help you?</p>
                    </div>

                    <!--Note to self remove test data-->
                 
                    <div class="user">
                        <small>User</small>
                        <p>Do you have physical stores?</p>
                    </div>

                    <div class="system">
                        <small>Faq bot</small>
                        <p>Yes, we have a few phyical stores</p>
                    </div>

                    <div class="user">
                        <p>Where are the location of these stores</p>
                    </div>

                    <div class="system">
                        <small>Faq bot</small>
                        <p>We have two in London</p>
                    </div>

                    <div class="user">
                        <small>User</small>
                        <p>What type of products do you have?</p>
                    </div>
                </div>

                <div class="footer">
                    <div class="send">
                        <input type="text" name="send" id="send">
                    </div>
                    <div class="btn">
                        <p>send</p>
                    </div>
                </div>

            </div>



        </section>
