{% if form.errors %}
    <div class="form-group">
        <!-- Display non-field errors here -->
        {% for error in form.non_field_errors %}
            <div class="errorlist center">
                <ul>
                    <li class="highlight">Error: {{ error }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>

    {% for field in form %}
        <div class="form-group">

            {% if field.errors %}
                <div class="errorlist">
                    <ul class="center">
                        {% for error in field.errors %}
                            <li class="highlight"> {{ field.label_tag }} - {{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
