{% load static %}

<section id="lastest-updates" class="latest-updates" aria-labelledby="latest-updates-title">
    <div class="container">
        <h1>Latest updates and news</h1>

        <hr>
        <div class="cards">

            <!-- card 1 -->
            <div class="card" role="list">
                <div class="head">
                    <img src="{% static '/img/display/jpg/latest-update1.jpg' %}" alt="An assortment of fresh baked goods"
                        class="lastest-updates__img" loading="lazy">
                </div>
                <div class="body">
                    <h4><a href="#">Fresh Bakes & Culinary Trends</a></h4>
                    <p>Stay informed with our freshest updates and news! Dive into the world of artisanal bread
                        and
                        the latest culinary trends. From new baking techniques to ingredient insights, get
                        inspired
                        and elevate your kitchen creations with our latest articles and tips.</p>
                </div>

                <div class="footer">
                    <p class="latest-updates__p_date">Created on: 10th June 2024</p>
                </div>
            </div>

            <!-- card 2 -->
            <div class="card" role="list">
                <div class="head">
                    <img src="{% static '/img/display/jpg/latest-update2.jpg' %}" alt="Freshly harvested garden produce"
                        class="lastest-updates__img" loading="lazy">
                </div>
                <div class="body">
                    <h4><a href="#">Fresh Bakes & Garden Harvest</a></h4>
                    <p>Explore our latest updates and news, featuring vibrant garden harvests and wholesome
                        bakes.
                        Stay tuned for insights on fresh produce, new recipes, and tips for integrating the best
                        of
                        nature's bounty into your culinary adventures. Discover how to elevate your meals with
                        seasonal ingredients and innovative cooking ideas.</p>
                </div>

                <div class="footer">
                    <p class="latest-updates__p_date">Created on: 9th March 2024</p>
                </div>
            </div>

            <!-- card 3 -->
            <div class="card" role="list">
                <div class="head">
                    <img src="{% static '/img/display/jpg/latest-update3.jpg'  %}" alt="Fresh Bakes & Nutty Delightc"
                        class="lastest-updates__img" loading="lazy">
                </div>
                <div class="body">
                    <h4><a href="#">Fresh Bakes & Nutty Delight</a></h4>
                    <p>Discover the health benefits, culinary uses, and latest trends involving nuts and seeds.
                        Get inspired with tips on incorporating these nutritious powerhouses into your daily
                        meals
                        and baked goods.
                        Elevate your diet and recipes with our innovative ideas and expert insights</p>
                </div>

                <div class="footer">
                    <p class="latest-updates__p_date">Created on: 1 January 2024</p>
                </div>
            </div>

            <!-- card 4 -->
            <div class="card" role="list">
                <div class="head">
                    <img src="{% static '/img/display/jpg/latest-update4.jpg' %}" alt="Almond Soyo Milk"
                        class="lastest-updates__img" loading="lazy">
                </div>
                <div class="body">
                    <h4><a href="#">Almond Soyo Milk</a></h4>
                    <p>Discover a drink enriched by nature's own flavours. Elevate your palate with our latest
                        creation.
                        Follow us to explore more of these exquisite beverages
                    </p>
                </div>

                <div class="footer">
                    <p class="latest-updates__p_date">Created on: September 10 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>