{% load static %}

<div class="login authentication">
    <div class="container">
        <div class="close flex-end">
            <img src="{% static 'img/icons/window-close.svg' %}" alt="window close icon" class="close-icon auth-close-icon">
        </div>
        <div class="greeting center">
            <img src="{% static '/img/display/jpg/logo.png' %}" alt="logo" class="logo-img center">

        </div>
        <form action="{% url 'login' %}" method="post" id="login-form" role="form">
            {% csrf_token %}

             
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            
            {% include "partials/form_errors.html" %}

           
            <p class="light-red d-none" id="login-msg"></p>
            {{ login_form.email.label_tag }}
            {{ login_form.email}}
            <span id="email-description" class="sr-only">Enter your email address.</span>

            {{ login_form.password.label_tag }}
            {{ login_form.password }}
            <span id="password-description" class="sr-only">Enter your password.</span>

            <a href="{% url 'forgotten_password' %}" class="login-link">Forgotten password?</a>
            <a href="#" class="login-link" id="not-registered-link">Not registered - click here?</a>

            <button type="submit" class="auth-button text-capitalize" id="login-btn">login</button>
        </form>

    </div>
</div>