{% load static %}



<div class="main">
    <div class="head space-between">
        <div class="links">
            <a href="#" aria-label="All departments">All departments</a>
            <div class="dropdown-menu organic-products">
                {% if departments %}
                    <h3>All departments</h3>
                    <div class="dropdown-menu__container">
                        <div class="links">
                            
                            {% for department in departments %}
                                <a href="#" aria-label="View {{ department.name }}"> {{ department.name }}</a>
                               
                            {% endfor %}
                        
                        </div>
                        <div class="dropdown-menu__container__img">
                            <img src="{% static '/img/display/jpg/organic-snacks-banner.jpeg' %}" alt="A snacks banner">
                        </div>
                    </div>
                {% endif %}
            </div>

            <a href="#featured-products" aria-label="Featured products">Featured products</a>
            <a href="#new-products" aria-label="New products">New products</a>
            <a href="#deals-of-the-week" aria-label="Read our blog">Deal of the week</a>
            <a href="#juice-and-drinks" aria-label="discounted items">Discounted items</a>
            <div class="dropdown-menu discounted-items">
                <h3>Discounted items</h3>
                <div class="dropdown-menu__container">

                    {% include "partials/nav-menu.html" %}
                    
                    <div class="dropdown-menu__container__img">
                        <img src="{% static '/img/display/jpg/drink-banner.jpeg' %}" alt="An ice-cream image banner">
                    </div>
                </div>
            </div>
            <a href="#juice-and-drinks" aria-label="organic-products">Organic products</a>
            <div class="dropdown-menu organic-products">
                <h3>Organic products</h3>
                <div class="dropdown-menu__container">
                    <div class="links">
                        <a href="#">Organic Juices and Drinks</a>
                        <a href="#">Organic Ice Creams</a>
                        <a href="#">Organic Snacks</a>
                        <a href="#">Organic Baked Goods</a>
                        <a href="#">Organic Condiments and Sauces</a>
                        <a href="#">Organic Dairy Products</a>
                        <a href="#">Organic Grains and Legumes</a>
                        <a href="#">Organic Vegetables</a>
                        <a href="#">Organic Fruits</a>
                        <a href="#">Organic Meats</a>
                        <a href="#">Organic Poultry</a>
                        <a href="#">Organic Seafood</a>
                    </div>
                    <div class="dropdown-menu__container__img">
                        <img src="{% static '/img/display/jpg/organic-snacks-banner.jpeg' %}" alt="A snacks banner">
                    </div>
                </div>
            </div>

            <a href="{% url 'blog_home' %}" aria-label="read our blog">Blog</a>
            <a href="#" aria-label="Contact us">Contact</a>
        </div>

        <div class="footer">
          {% comment %} The icons including wishlist, carts, etc {% endcomment %}
           {% include "partials/nav-icons.html" with total_cost=0.00  %}
        </div>
    </div>

    <div class="body">
        {% include "partials/search.html" %}
      
        {% include "partials/phone_contact.html" %}
      
    </div>

    {% include "partials/call_to_action.html" %}
  
</div>
