
<section class="subscribe" aria-labelledby="subscribe-title">
    <div class="container">
        <div class="subscribe__information">
            <h2 id="subscribe-title">Join Our Newsletter, Get 30% Off</h2>
            <p>Get the latest information on events, sales, offers, and promotions</p>
        </div>

        <div class="subscribe__form">
            <form action="/" method="post" id="subscribe-form" class="subscribe-form"
                aria-labelledby="subscribe-title">
                <fieldset>
                    <legend class="visually-hidden">Subscribe to our newsletter</legend>
                    <label for="email" class="visually-hidden">Email address</label>
                    <input type="email" name="email" id="email" required placeholder="Email..."
                        class="subscribe__form__input-field">
                    <button type="submit" class="subscribe-btn button-sm">Subscribe</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>