{% load static %}

<section id="testimonals">
    <div class="container">

        <h1>Here's what our clients say about us</h1>
        <hr>
        <div id="carousel">

            <div class="carousel-cards-wrapper">

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>
                    

                    <div class="body">
                        <p>
                            I recently discovered EUorganics, and I couldn't be happier with their products and
                            service!
                            The quality of the fresh vegetables and fruits is outstanding, and I love knowing
                            that everything is 100% organic.
                            The free pickup and delivery options make it so convenient for my busy schedule. My
                            family especially loves the organic
                            bananas and fresh garden harvests.
                            Highly recommend EUorganics to anyone looking for fresh, organic produce delivered
                            right to their door!
                        </p>
                    </div>

                    <div class="footer testimonial-footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carousel-img1.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="testimonial-author-name">
                            Kara kent (Reporter @ Daily planet)
                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        EUorganics has transformed the way I shop for groceries. The variety of fresh and
                        organic produce is impressive, and the quality is top-notch.
                        I especially love their selection of fresh berries and ocean foods. The website is
                        user-friendly,
                        and the delivery is always prompt. It's a relief to know that I'm feeding my family the
                        healthiest options available. Thank you, EUorganics, for making healthy eating so
                        accessible!
                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carousel-img2.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            Jane Winchester <span class="italic">(Head hunter @ SPN)</span>
                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        Shopping at EUorganics has been a game-changer for me. The freshness and quality of
                        their vegetables
                        and fruits are unbeatable. I appreciate their commitment to organic produce, and the
                        convenience
                        of their free delivery service is a huge plus. The red onions and avocados I ordered
                        were perfect,
                        and the Cuban coffee is now a staple in my home. I highly recommend EUorganics to anyone
                        looking for
                        premium organic products and excellent customer service!
                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carousel-img3.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            Susan Storm <span class="italic">(Freelancer)</span>
                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        <p>
                            EUorganics has quickly become my go-to for all my organic produce needs. The
                            freshness and flavour of
                            their fruits and vegetables are unmatched. I've been particularly impressed with
                            their organic tomatoes and fresh bananas.
                            The website is easy to navigate, and the customer service is fantastic. I also love
                            the insightful blog posts
                            and updates on culinary trends. EUorganics truly makes healthy eating effortless and
                            enjoyable. Highly recommend!
                        </p>

                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carousel-img4.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            <p> Beth Phanthom <span class="italic">(Private Investigator and team liason officer
                                    @ Prismatic Crusaders)</span></p>

                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        <p>
                            I am so pleased with my experience at EUorganics. The quality of their organic
                            produce is incredible. Every item I've purchased, from bell peppers to fresh onions,
                            has been fresh and flavorful. The convenience of their delivery service has made my
                            life so much easier, especially with a busy family. Plus, their customer service is
                            always
                            responsive and helpful. EUorganics has made it so simple to maintain a healthy,
                            organic lifestyle.
                            I can't recommend them enough
                        </p>
                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carouel-img5.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            Oro Munroe <span class="italic">(Storm chaser)</span>
                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        <p>
                            I was born with a peculiar condition that made me age backwards.
                            Throughout my unusual journey, I've always prioritised my health and wellness.
                            Discovering EUorganics was a turning point. Their 100% organic products have been a
                            constant in my life,
                            from my 'old' youth to my 'young' old age. The quality and freshness of their
                            vegetables, fruits, and more have helped me
                            maintain my vitality no matter which way the years flow.
                        </p>
                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carouel-img6.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            Benjamin Button
                        </div>
                    </div>
                </div>

                <div class="card-carousel">
                    <div class="head stars">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                        <img src="{% static 'img/icons/rating.svg' %}" alt="ratings star" class="rating-star">
                    </div>

                    <div class="body">
                        <p>
                            Being part of Benjamin's extraordinary life, we've always sought the best for our
                            health.
                            EUorganics has been a staple in our home. Their commitment to organic produce and
                            excellent
                            customer service ensures we always have access to the finest foods. It's more than a
                            store;
                            it's a part of our family's health journey.
                        </p>
                    </div>

                    <div class="footer">
                        <div class="img">
                            <img src="static/img/display/jpg/carouel-img7.jpeg" alt="An image for the testimonial"
                                class="carousel-img">
                        </div>
                        <div class="carousel__name">
                            Queenie
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-button carousel-left-button prev-card">&#10094;</button>
            <button class="carousel-button carousel-right-button next-card">&#10095;</button>
        </div>

    </div>
</section>