{% load static %}

<section id="testimonals">
    <div class="container">

        {% if approved_testimonials %}
        <h1>Here's what our clients say about us</h1>
        <hr>
        {% endif %}
        <div id="carousel">

            <div class="carousel-cards-wrapper">

                {% for testimonial in approved_testimonials %}
                    <div class="card-carousel">
                        <div class="testimonial-ratings" id="ratings-{{ testimonial.ratings }}">
                            <!-- Dynamically generated -->
                        </div>
                        <div class="body">
                            <p>
                               {{ testimonial.testimonial_text }}

                              
                            </p>
                            
                        </div>

                        <div class="footer testimonial-footer">
                            <div class="img">
                                {% if testimonial.user_image %}
                                     <img src="{{ testimonial.user_image }}" alt="An image for the testimonial" class="carousel-img">
                                {% endif %}
                            </div>
                            <div class="testimonial-author-name">
                                {{ testimonial.author_name | title }} ({{ testimonial.job_title | title }} @ {{ testimonial.company_name | title }})
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            {% if approved_testimonials|length > 1 %}
                <button class="carousel-button carousel-left-button prev-card">&#10094;</button>
                <button class="carousel-button carousel-right-button next-card">&#10095;</button>
            {% endif %}
        
        </div>

    </div>
</section>