{% extends "base.html" %}
{% load static %}

{% block title %} Testimonals and reviews {% endblock %}


{% block body  %}

<section id="testimonial" aria-labelledby="testimonial-heading">
    <div class="testimonial__container content-container">
        {% include "partials/logo_link.html" %}
        {% include "partials/messages.html" %}

      
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account' %}">My account</a></li>
            <li><a href="{% url 'reviews' %}">Manage reviews</a></li>
            <li>review options</li>
        </ul>

        <h2 class="lighten padding-top-md heading">My Testimonial</h2>
        <hr class="dividor">


        <!-- cards -->
        <div class="testimonial-review__options two-column-grid col-gap-small">

            <a href="{% url 'add-testimonial' %}" aria-labelledby="leave-testimonial-review-heading" class="card-link">

                <!-- card 1 -->
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/comments.svg' %}" alt="comment key icon" class="account-icon">
                    </div>
                    <div class="body">
                        <p class="leave-review-heading">Leave a Testimonial</p>
                        <p>Please share your experience with us, whether it’s about our services or your overall experience</p>
                    </div>
                    
                </div>
            </a>

            <!-- card 2 -->
            <a href="{% url 'all-reviews' %}" aria-labelledby="view-product-review-heading" class="card-link">
                <div class="card-grid">
                    <div class="head">
                        <img src="{% static 'img/icons/binoculars.svg' %}" alt="A binoculars icon" class="account-icon">
                    </div>
                    <div class="body">
                        <p class="view-product-review-heading">View all reviews</p>
                        <p>Explore testimonal and reviews for the various products you’ve created.</p> 
                    </div>
                </div>
            </a>
  
        </div>
    </div>
</section>


{% endblock  %}


