{% extends "base.html" %}
{% load static %}
{% block title %}My testimonial{% endblock %}

{% block body %}
<section id="view-testimonials" aria-labelledby="view-testimonial-heading">

    <div class="view-testimonials__container content-container">

        {% include "partials/logo_link.html" %}
        {% include "partials/messages.html" %}
      
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">My account</a></li>
                <li><a href="{% url 'all-reviews' %}">View all reviews</a></li>
                <li aria-current="page">Testimonial</li>
            </ul>
        </nav>

        <h2 id="view-testimonial-heading" class="lighten padding-top-md">Testimonial section</h2>
        <p class="account-info">My testimonial</p>
        <hr class="dividor">

        {% if testimonial %}
            <div class="title triple-grid">
                <div class="profile-image">
                    {% if testimonial.user_image %}
                        <img src="{{ testimonial.user_image }}" alt="Profile image of testimonial author" class="testimonial-img">
                    {% endif %}
                
                </div>
                <div class="testimonial-title">
                   
                    {% if testimonial.featured %}
                        <p class="highlight"> Featured testimonial</p>
                    {% endif %}
                </div>
                <div class="links flex-end">
                    <a href="{% url 'edit-testimonial' testimonial.author.username testimonial.id %}" aria-label="Edit this testimonial">Edit</a>
                    <a href="#" aria-label="Delete this testimonial" id="delete-testimonial-link">Delete</a>
                </div>
            </div>

            <h3 class="text-capitalize center padding-bottom-md">{{ testimonial.job_title }} </h3>

            <p class="underline light-bold text-capitalize">Ratings:</p>

                <div class="testimonial-ratings" id="ratings-{{ testimonial.ratings }}">
                 
                     <!-- Dynamically generated -->
                </div>

            <div class="attributes padding-top-md">
              
                <p class="text-capitalize company-name"><span class="light-bold">Company name:</span> {{ testimonial.company_name }}</p>
                <p class="text-capitalize location"><span class="light-bold">Location:</span> {{ testimonial.location }}</p>
                
                <p class="text-capitalize status"><span class="light-bold">Approval status:</span> 
                    {% if testimonial.is_approved %}
                        <span class="font-green">Verified</span>
                    {% else %} 
                        <span class="highlight">Waiting approval by admin </span>
                    {% endif %}
                </p>
                <p class="text-capitalize date-created"><span class="light-bold">Created on:</span>{{ testimonial.date_sent }}</p>
                <p class="text-capitalize date-approved"><span class="light-bold">Approved on:</span> 
                    {% if testimonial.date_approved %}
                        {{ testimonial.date_approved }}
                    {% else %}
                        Not yet approved
                    {% endif %}
                
                </p>
            </div>

            <div class="body padding-top-md padding-bottom-md">
                <h4 class="padding-bottom-md text-capitalize">Testimonial</h4>
                <p>
                    {{ testimonial.testimonial_text }}
                </p>
               
            </div>

            {% if testimonial.admin_response %}
                <div class="admin-response padding-top-md padding-bottom-md">
                    <h4 class="text-capitalize">Admin response:</h4>
                    <p class="padding-top-sm">{{  testimonial.admin_response }}</p>
                   
                </div>
            
            {% endif %}

            <hr class="dividor padding-top-md">
            <div class="user-attributes flex-end">
                <div class="grid">
                    <p class="text-capitalize">@{{ testimonial.author.username }}</p>

                    {% if testimonial.updated_on %}
                        <p class="text-capitalize">Lasted updated on {{ testimonial.updated_on }}</p>
                    {% endif %}
                </div>
            </div>


            <div class="moodle-alert d-none" id="moodle-alert">
                {% include "partials/logo_link.html" %}
                <div class="head">
                    <h3 class="text-capitalize highlight">Delete Testimonial (ID: #{{ testimonial.id }})</h3>
        
                    <hr class="dividor">
                    <p class="padding-bottom-md">Are you sure you want to delete the selected Testimonial? 
                        This action will permanently delete all related attributes, including admin approval status, title, ratings, and other associated fields.
                    </p>
                     
                </div>
        
                <div class="body padding-top-md">
                    <div class="info">
                        <h3>Testimonial</h3>
                        <p class="padding-left-lg">1. Testimonial: <span class="font-green testimionial-info">{{ testimonial.author }}</span> - 
                            <span class="font-green testimionial-info">{{ testimonial.job_title }}</span> 
                          
                    </div>
        
                    <div class="info">
                        <h2>Summary</h2>
                        <div class="box two-column-grid margin-bottom-lg">
                            <p>Number of testimonials to delete</p>
                            <p>1</p>
                        </div>
                        <hr class="dividor">
                        <div class="buttons">
                          
                            <a href="{% url 'delete_testimonial' testimonial.id %}" class="link-button confirm-delete"><button type="button" class="testimonial-button">Yes, I'm sure</button></a>
                            <a href="#" class="link-button cancel-delete"><button type="button" class="testimonial-button">No, take me back</button></a>
                           
                        </div>
                    </div>
        
                </div>
              
            </div>
        
        {% else %}

            <p>You haven't added a testimonial yet. Share your experience with us by submitting a testimonial!</p>
            <p>You can do so by <a href="{% url 'add-testimonial' %}" class="light-red">clicking here</a></p>

        {% endif %}
    </div>
    <div class="spinner"></div>


   

</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/modules/delete-review.js' %}" type="module"></script>
{% endblock  %}
