<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body style="min-height: 90vh; max-height: 100vh; overflow: auto; margin: 0; padding: 0;">

    <main>
        <section id="registration" style="background: ghostwhite;">
            <div class="container" style="background: white; width: 70%; margin: auto; padding: 16px; border: 2px solid lavender">
                
                <!-- Includes the image using the URL from GitHub Pages -->
                <div class="logo" style="position: relative; height: 200px; width: 200px; margin: auto;">
                    <img src="https://raw.githubusercontent.com/EgbieAndersonUku1/euorganics-email-assets/main/email_assets/images/registration/logo.png" alt="Logo" class="img-logo" style="height: 100%; width: 100%;">
                </div>

                <h1 class="center" style="text-align: center; font-family: fantasy; font-size: 32px; color: rgb(6, 64, 6);">
                    EU Organics Online Store
                </h1>

                <div class="images" style="text-align: center;">
                    <div class="cards" style="display: block; text-align: center;">
                        <div class="card" style="margin-bottom: 16px; display: inline-block; width: 30%; margin-right: 4px;" >
                            <div class="body">
                                <img src="https://raw.githubusercontent.com/EgbieAndersonUku1/euorganics-email-assets/main/email_assets/images/registration/drink-banner.jpeg" alt="Drink Banner" class="card-img" style="height: 200px; width: 90%; border-radius: 4%;">
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 16px; display: inline-block; width: 30%; margin-right: 4px;">
                            <div class="body">
                                <img src="https://raw.githubusercontent.com/EgbieAndersonUku1/euorganics-email-assets/main/email_assets/images/registration/organic-baked-goods-banner.jpeg" alt="Baked Goods Banner" class="card-img" style="height: 200px; width: 90%; border-radius: 4%;">
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 16px; display: inline-block; width: 30%;">
                            <div class="body">
                                <img src="https://raw.githubusercontent.com/EgbieAndersonUku1/euorganics-email-assets/main/email_assets/images/registration/organic-snacks-banner.jpeg" alt="Snacks Banner" class="card-img" style="height: 200px; width: 90%; border-radius: 4%;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <p style="font-family: Arial, sans-serif; font-size: 24px; width: 90%; text-align: left; padding-top: 8px;">
                        Welcome to EUOrganics!
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 32px; padding-bottom: 32px; font-weight: bold;">
                        Hi {{ username }}
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; padding-bottom: 32px;">
                        We received a request to reset the password for your EUOrganics account associated with the email address: {{ email_address }}
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; padding-bottom: 32px;">
                        To reset your password, please click the link below: 
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; padding-bottom: 32px;">
                        This link will direct you to a secure page where you can create a new password. For security reasons, the link 
                        will expire in one hour. If you did not request a password reset, please disregard this email. Your account remains secure, and no changes have been made.

                    </p>

                    <a href="{{ verification_url }}" style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: center; font-weight: bold; padding: 16px; background-color: #f0f0f0; border-radius: 5px; margin-top: 16px; margin-bottom: 32px;">
                        Your Verification Code: <span style="color: rgb(6, 64, 6);">Click here</span>
                    </a>
                   
                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; padding-bottom: 32px;">
                        If the link doesn't show copy and paste the link below in a web browser
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: center; font-weight: bold; padding: 16px; background-color: #f0f0f0; border-radius: 5px; margin-top: 16px; margin-bottom: 32px;">
                       Verification Code: <span style="color: rgb(6, 64, 6);">{{ verification_url }}</span>
                    </p>
                    
                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 32px; padding-bottom: 32px;">
                        Once clicked, you'll then be able to change your password
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; padding-bottom: 64px;">
                        If you have any questions or need assistance, don't hesitate to reach out to our support team.
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px;">
                        Welcome aboard, and thank you for choosing EUOrganics!
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; padding-top: 8px; font-weight: bolder;">
                        Warm regards,
                    </p>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; width: 90%; text-align: left; font-weight: bolder;">
                        The EUOrganics Team
                    </p>
                </div>

            </div>
        </section>
    </main>
</body>
</html>
