{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Manage subscriptions overview{% endblock  %}

{% block body  %}

<section id="manage-subscriptions" aria-labelledby="manage-subscription-heading">

    <div class="manage_subscriptions__container content-container">

        {% include "partials/logo_link.html" %}
        {% include "partials/messages.html" %}
      
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">My account</a></li>
                <li aria-current="page">Subscriptions</li>
            </ul>
        </nav>

        <h2 id="view-subscription-heading" class="lighten padding-top-md">Subscriptions section</h2>
        <p class="account-info">Subscriptions overview</p>
        <hr class="dividor">


    </div>
    <div class="spinner"></div>

    <!-- Determines if a person is subscribed already -->
    <div class="subscription-status flex-end" id="subscription-status">
        {% if is_subscribed %}
            <a href="#"><button type="button" class="padding-sm dark-red-bg" id="unsubscribe-btn">unsubscribe</button></a>
        {% else %}
             <a href="{% url 're_subscribe' %}"><button type="button" class="padding-sm green-bg" id="subscribed-btn">subscribe</button></a>
        {% endif %}
    </div>


    <!-- The subscription tabs -->
    <div class="tabs" id="subscription-tabs" class="padding-top-lg">
        <div class="tab">
            <h4 class="lighten highlight active text-capitalize" data-tabData="subscription-overview">Subscription overview</h4>
        </div>

        <div class="tab">
            <h4 class="lighten text-capitalize tab-headers" data-tabData="subscription-history">Subscription history</h4>
        </div>

        <div class="tab">
            <h4 class="lighten text-capitalize tab-headers" data-tabData="notfications">Notifications</h4>
        </div>
    </div>
    <hr class="dividor subscription-dividor">

    
    <div id="subscription-overview" class="d-none tab-section">

        {% if is_subscribed %}
            <p><span class="bold"> Hello, {{ request.user.username | title }}! </span> Here’s an overview of your newsletter preferences</p>
            <h4 class="padding-bottom-md padding-top-md lighten">Current subscriptions</h4>
            <p>You are current subscribed to the EU Organics newsletter</p>
        {% else %}
            <p>Subscribe to see your active subscriptions</p>

        {% endif %}
        
    </div>



    <div id="subscription-history" class="d-none tab-section">
        <h4 class="lighten active text-capitalize tab-headers">Your Subscription History & Activity</h4>

        <table id="subscription-table" class="padding-top-md">

            {% if page_obj and page_obj.object_list %}
                <thead>
                    <tr>
                        <th>Subscription activity</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Frequency</th>
                        <th>Status</th>
                        <th>Action</th>
                    
                    </tr>
                </thead>

                {% for subscription in page_obj %}
                    <tr>
                        <td>{{ subscription.title | title }}</td>
                        <td>{{ subscription.start_date }}</td>

                        {% if not subscription.unsubscribed_on %}
                            <td>Ongoing</td>
                        {% else %}
                             <td> {{ subscription.unsubscribed_on }} </td>
                        {% endif %}

                        <td>{{ subscription.frequency | format_frequency }}</td>

                        {% if subscription.action == 'subscribed' %}
                            <td>Active</td>
                        {% else %}
                            <td>Not Active</td>
                        {% endif %}

                        <td>
                        {{ subscription.action | title }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p class="padding-top-md">You currently have no history to display.</p>

            {% endif %}
                        
        </table>

        {% if page_obj %}
   
             <!-- Pagination links -->
            <div class="pagination flex">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
     
        {% endif %}
    </div>


    <!--The notification alerts -->
    <div id="notification-alerts" class="d-none tab-section">

       
        {% if is_subscribed %}
            <h4 class="padding-bottom-md padding-top-md lighten">Manage Your Alerts & Notifications</h4>

            <div class="frequency">

                <form action="{% url 'update_frequency' %}" method="post" id="frequency-update-form">

                    {% csrf_token %}

                    <input type="hidden" name="csrfTokenMiddleware" value="{{ csrf_token }}">

                    <label for="frequency">Frequency</label>
                  
                        {% with subscription=page_obj.object_list.0 %} <!-- Use the first object  -->
                            <select name="frequency" id="frequency">
                                <option value="d" {% if subscription.frequency == 'd' %}selected{% endif %}>Daily</option>
                                <option value="w" {% if subscription.frequency == 'w' %}selected{% endif %}>Weekly</option>
                                <option value="bw" {% if subscription.frequency == 'bw' %}selected{% endif %}>Bi-Weekly</option>
                                <option value="m" {% if subscription.frequency == 'm' %}selected{% endif %}>Monthly</option>
                                <option value="q" {% if subscription.frequency == 'q' %}selected{% endif %}>Quarterly</option>
                            </select>
                        {% endwith %}
                

                    <button type="submit" class="button-sm green-bg" id="frequency-btn">Save</button>
                </form>

            </div>

            <div class="notification-preference">
                <p>Notification preference</p>

                <ul class="padding-left-lg">
                    <li class="">Email</li>
                </ul>
            </div>
        {% else %} 
            <p>Subscribe to view your notification options</p>
        {% endif %}

    </div>
    <div class="spinner"></div>
    <div class="feedback-form">

        <h3 class="center padding-bottom-md">We Value Your Feedback</h3>
        <p class="padding-bottom-sm">Hi, <span class="bold">{{ request.user.username | title }}</span>. We’re sorry to see you go!</p>
        <p class="padding-bottom-md">Your insights are important to us. Please take a moment to fill out this feedback form to help us improve.</p>
        
        {% include "partials/form_errors.html" %}
        <form action="{% url 'unsubscribe' %}" method="post" id="newsletter-form">
            
            {% csrf_token %}

            {{ form.reason_for_unsubscribing }}
            <p class="flex-end minimum-characters">Minimum characters: 50</p>
            <p class="maximum-characters flex-end">Characters remaining: 255</p>
    
            <div class="buttons flex-end">
                <button type="button" class="feedback-btn dark-red-bg button-sm cancel-btn">Cancel</button>
                <button type="submit" class="feedback-btn dodger-blue-bg button-sm submit-btn">Submit</button>
            </div>
          
        </form>
         
    </div>
    
</section>


{% endblock  %}

{% block script %}
    <script src="{% static '/js/pages/subscription.js'  %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js"></script>

{% endblock script %}


