{% extends "base.html" %}
{% load static %}

{% block title %}Add or edit a review{% endblock %}


{% block body %}

    <section id="refund-management" aria-labelledby="refunding-managment-heading">
        <div class="product-review__container content-container">
            <div class="logo center">
                <a href="{% url 'home' %}"><img src="{% static '/img/display/jpg/logo.png' %}" alt="The logo"
                        class="account-logo-img"></a>
            </div>

            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">My account</a></li>
                <li>Refund</li>
            </ul>

            <h2 id="refunding-heading" class="lighten padding-top-md text-capitalize">Refund Management</h2>
            <p class="account-info">Manage or issue a refund</p>
            <hr class="dividor">

            <!-- The cards sections -->
            <div class="add-or-edit-review__options cards two-column-grid col-gap-small">
                <a href="#" aria-labelledby="refund-request-heading" class="card-link">

                    <!-- card 1 -->
                    <div class="card-grid card">
                        <div class="head">
                            <img src="{% static '/img/icons/request-quote.svg' %}" alt="Request quote icon"
                                class="account-icon">
                        </div>
                        <div class="body">
                            <p id="refund-request-heading" class="refund-request-header">Request a Refund</p>
                            <p id="refund-request-instructions" class="refund-request-details">Request a refund by providing
                                all required information to facilitate a smooth and quick process.</p>
                        </div>

                    </div>
                </a>

                <!-- card 2 -->
                <a href="#" aria-labelledby="refund-status-tracking-heading" class="card-link">
                    <div class="card-grid card">
                        <div class="head">
                            <img src="{% static '/img/icons/find-in-page.svg' %}" alt="A magnify glass scan a page icon"
                                class="account-icon">
                        </div>
                        <div class="body">
                            <p id="refund-status-tracking-heading" class="refund-status-tracking-header">Refund Status
                                Tracking:</p>
                            <p id="refund-status-tracking-instructions" class="refund-status-tracking-details">Track the
                                status of your refund requests here. You can view the progress of any issued refunds,
                                including pending, approved, and processed statuses.</p>
                        </div>


                    </div>
                </a>

            </div>
        </div>
    </section>

{% endblock %}


