{% extends 'base.html' %}
{% load static %}
{% block title %} Order - view items {% endblock %}

{% block body %}
 
    <section id="view-all-items" class="main-section">
            <div class="container">

                <!-- The sidebar  -->
                {% include "partials/base_sidebar.html" %}

                <!-- The main body -->
                <div class="main">
                    <div class="head space-between">
                        {% include 'partials/nav-menu.html' %}

                        <div class="footer">
                           {% include "partials/nav-icons.html" with total_cost=0.00  %}
                        </div>
                    </div>

                    <!-- breadcrumbs -->
                    <ul class="breadcrumb order-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'account' %}">My Account</a></li>
                        <li><a href="{% url 'orders' %}">Orders</a></li>
                        <li class="item-name"></li>
                    </ul>

                    <div id="view-item">

                        <div class="view-item__container">

                            <!-- The main section -->
                            <div class="view-item__container__main">

                                <!-- The main product -->
                                <div class="item box-display two-column-grid">
                                    <div class="view-item__img">
                                        <img src="" alt="" class="view-item__img">
                                    </div>

                                    <div class="view-item__title">
                                        <div class="view-item_title__wrapper">
                                            <h3></h3>
                                            <a href="#">View product detail</a>
                                        </div>
                                       
                                    </div>
                                </div>

                                <!-- the day it was delivered -->
                                <div class="view-item__delivered box-display">
                                    <div class="view-item__head">
                                        <span class="view-item__delivered-date"></span>
                                        <p class="padding-top-md view-item__deliver-msg"></p>
                                    </div>

                                    <div class="view-item__body">
                                        <button class="view-item-btn">Track button</button>
                                    </div>
                                </div>

                                <!-- help section -->
                                <div class="view-item__help box-display">
                                
                                    <div class="view-item__title">
                                        <h3 class="padding-bottom-md">Need help with your item?</h3>
                                        <p>Return item</p>
                                        <p class="view-item__return-msg highlight"></p>
                                    </div>
                                </div>

                                 <!-- review item section -->
                                 <div class="view-item__review-section box-display">
                                
                                    <div class="view-item__title flex-col">
                                        <h3 class="padding-bottom-md">How's your item?</h3>
                                       
                                        <a href="#">Write a product review</a>
                                        <a href="#">Leave feedback</a>
                                    </div>
                                </div>

                            </div>

                            <div class="view-item__side">

                                <!-- Buttons -->
                                <div class="view-item__side__buttons box-display">
                                    <button class="view-item-btn">Buy it again</button>
                                    <button class="view-item-btn">Add to cart</button>
                                </div>

                                <!-- order info -->
                                 <div class="view-item__side-order-info flex-col box-display">
                                    <h3>Order info</h3>
                                    <hr>
                                    
                                    <p class="view-item__ordered_by">Ordered by: Egbie</p>
                                    <p class="view-item__order-id"></p>
                                    <p class="view-item__order-total"></p>
                                    <p class="view-item__date-ordered"></p>

                                 </div>

                            </div>
                        </div>




                    </div>

                </div>


            </div>
            </div>
            </div>



            </div>

            </div>
            </div>


            </div>
        </section>



{% endblock %}


{% block script %}
    <script src="{% static 'js/pages/view-item.js' %}" type="module"></script>
{% endblock  %}
  



