{% extends "base.html" %}
{% load static %}

{% block title %}Forgotten Password{% endblock  %}

{% block body %}

   

    <div class="forgotten-password-container">

        <h3 class="center padding-top-md text-upper">Reset Password</h3>

        {% include "partials/logo_link.html" %}
        {% include "partials/messages.html" %}
    
        <p class="center">To reset your forgotten password please enter your email address</p>

        <form action="{% url 'forgotten_password' %}" method="post" class="padding-top-lg" id="forgotten-password-form">
            {% csrf_token %}
            {{ form.email.label }}
            {{ form.email }}
    
            <button type="submit" class="button-md" id="reset-button">Reset</button>
        </form>

    </div>
    
   



{% endblock  %}


{% block script  %}
    <script type="module" src="{% static 'js/pages/auth.js' %}"></script>
{% endblock  %}