{% extends "base.html" %}

{% block title %}Forgotten Password{% endblock  %}

{% block body %}

   

    <div class="forgotten-password-container">

        <h3 class="center padding-top-md text-upper">New Password</h3>

        {% include "partials/logo_link.html" %}
     
     
    
        <p class="center">Enter your new password</p>

        {% include "partials/form_errors.html" %}
        <form action="{% url 'new_password' username token %}" method="post" class="padding-top-lg" id="new-password-form">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_field_group }}
            {% endfor %}
          
    
            <button type="submit" class="button-md" id="save-button">Save</button>
        </form>

    </div>
    
   



{% endblock  %}
