{% extends "base.html" %}
{% load static %}

{% block title %} View products {% endblock %}

{% block body %}

    <div class="content-container">

        {% include "partials/logo_link.html" %}
        <!-- Breadcrumb Navigation -->
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account' %}">My account</a></li>
            <li><a href="{% url 'product-management' %}">Product management overview</a></li>
            <li>View products</li>
        </ul>

        <!-- Section Heading -->
        <h1 id="add-product-heading" class="padding-top-md lighten text-capitalize">View products</h1>
        <p class="account-info">View all products</p>
        <hr class="dividor">

    


    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js/pages/product-info.js' %}" type="module"></script>
{% endblock %}