{% extends "base.html" %}
{% load static %}

{% block title %} Manage Address {% endblock %}


{% block body %}

<section id="account" aria-labelledby="account-heading">
    <div class="messages">
        {% include "partials/messages.html" %}
    </div>
    
    <div class="address-container">
        <div class="logo center">
            <a href="{% url 'home' %}">
                <img src="{% static '/img/display/jpg/logo.png' %}" alt="The logo" class="account-logo-img">
            </a>

        </div>
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li><a href="{}">Profile</a></li>
            <li>Manage my address</li>

        </ul>
        <h1 id="account-heading" class="padding-top-md lighten">My Account</h1>
        <p class="account-info">Manage my addresses</p>
        <hr class="dividor">

        <div class="profile-container">


            <div class="sidebar">

                <div class="sidebar-link">
                    <img src="{% static '/img/icons/closed-lock-with-key.svg' %}" alt="image"
                        class="profile-img">
                    <a href="" class="edit-profile text-capitalize">Login and authentication </a>
                </div>

                <div class="sidebar-link">
                    <img src="{% static '/img/icons/address-book.svg' %}" alt="image" class="profile-img">
                    <a href="{% url 'user_profile' %}" class="edit-profile text-capitalize">Manage address </a>
                </div>

                <div class="sidebar-link">
                    <img src="{% static '/img/icons/card-payment.svg' %}" alt="image" class="profile-img">
                    <a href="" class="edit-profile text-capitalize">Payment options </a>
                </div>

                <div class="sidebar-link">
                    <img src="{% static '/img/icons/admission-tickets.svg' %}" alt="image" class="profile-img">
                    <a href="" class="edit-profile text-capitalize">Wishlist </a>
                </div>

                <div class="sidebar-link">
                    <img src="{% static '/img/icons/shopping-bags.svg' %}" alt="image" class="profile-img">
                    <a href="" class="edit-profile text-capitalize">Gift card balance </a>
                </div>
            </div>

            <div class="main">

                {% if billing_addresses %}
                    <h4 class="highlight text-capitalize padding-bottom-sm">Primary Address</h4>
                    <div class="address padding-bottom-md padding-top-md showcase center">

                        {% if primary_address %}
                            <div class="primary_address">

                                <p class="address_1">{{ primary_address.address_1 }}</p>
                                {% if primary_address.address_2 %}
                                    <p class="address_2">Marylebone</p>
                                {% endif %}

                                <p class="city">{{ primary_address.city }}</p>
                                <p class="postcode">{{ primary_address.post_code }} </p>
                            </div>

                        {% endif %}

                    </div>

                    <p class=" text-capitalize padding-top-md padding-bottom-sm bold"> billing Addresses</p>

                    <div class="triple-grid center" id="billing-addresses">

        
                        {% for billing_address in billing_addresses %}
                            <div class="padding-bottom-md padding-top-md padding-bottom-sm showcase margin-bottom-sm" id={{ billing_address.id }}>

                                <div class="address address-card">

                                    <p class="address">{{ billing_address.address_1 }}</p>
                                    {% if primary_address.address_2 %}
                                        <p class="address">{{ billing_address.address_2 }}</p>
                                    {% endif %}
        
                                    <p class="city">{{ billing_address.city }}</p>
                                    <p class="postcode">{{ billing_address.post_code }} </p>

                                    <a href="{% url 'mark_as_primary' billing_address.id %}" class="address-link text-lower mark-as-primary">mark as primary</a>
                                    <a href="#" class="address-link text-capitalize delete-address" id={{ billing_address.id }}>delete</a>
                                    <input type="hidden" name="billing_address" value="true">
                                </div>
                            </div>
                        {% endfor %}

                    </div>


                    {% if shipping_addresses %}

                        <p class=" text-capitalize padding-top-md padding-bottom-sm bold"> Shipping Addresses</p>

                        <div class="triple-grid center">

                            
                            {% for shipping_address in shipping_addresses %}
                                <div class="padding-bottom-md padding-top-md padding-bottom-sm showcase margin-bottom-sm">

                                    <div class="address address-card" id={{ shipping_address.id }}>

                                        <p class="address">{{ shipping_address.address_1 }}</p>
                                        {% if shipping_address.address_2 %}
                                            <p class="address">{{ shipping_address.address_2 }}</p>
                                        {% endif %}
            
                                        <p class="city">{{ primary_address.city }}</p>
                                        <p class="postcode">{{ primary_address.post_code }} </p>
                                            
                                        <a href="{% url 'delete_address' %}" class="address-link text-capitalize">delete</a>
                                        <input type="hidden" name="shipping_address" value="true">
                                    </div>

                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="address padding-bottom-md padding-top-md showcase center">

              
                    <div class="address">
                        <p> You have no active address </p>
                        <p> Add addresses and then come back here </p>
                    </div>

                </div>

            {% endif %}

        </div>
</section>

        
{% endblock %}

{% block script %}
    <script>
        window.csrfToken = '{{ csrf_token }}'; // Set as a global variable so it can be accessed
    </script>
    <script src="{% static 'js/pages/manage-address.js' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js"></script>
{% endblock  %}